@font-face {
    font-family: "Poppins";
    src: url(resources/Poppins-Regular.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
    background: black;
}

div#root {
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 2;
}

nav {
    width: 100vw;
    z-index: 5;
}

.nav {
    height: 100vh;
    display: inline-flex;
    align-items: center;
    font-weight: 1000;
    z-index: 10;
}

.nav:hover {
    cursor: pointer;
}

#btn-prev {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.5) 40%, rgba(0,0,0,0));
}

#btn-prev:hover {
    background-image: linear-gradient(to right, rgba(50,50,50,.5) 40%, rgba(50,50,50,0));
}

#btn-next {
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, rgba(0,0,0,.5) 40%, rgba(0,0,0,0));
}

#btn-next:hover {
    background-image: linear-gradient(to left, rgba(50,50,50,.5) 40%, rgba(50,50,50,0));
}

.nav img {
    width: 2em;
    height: 4em;
    padding: 1em;
}

.img-white {
    filter: invert(85%) sepia(0%) saturate(2707%) hue-rotate(172deg) brightness(84%) contrast(82%);
}

#blur {
    width: 100vw;
    height: 100vh;
    background-image: url("resources/mohammad-rahmani.jpg");
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#breadcrumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

#breadcrumb .crumb {
    font-weight: 1000;
    color: #666;
    font-size: 3em;
    height: 2em;
}

#breadcrumb .crumb:hover {
    cursor: pointer;
}

#breadcrumb .crumb.active {
    color: #fff;
    cursor: default;
}

#breadcrumb .crumb.active:hover {
    cursor: default;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transition: left .5s cubic-bezier(.38,.16,.02,.99);
}

.page {
    background: rgba(10,10,10,.8);
    float: left;
    border: .2em solid #ccc;
    border-radius: 1em;
    padding: 2em;
    margin: 4em;
    height: calc(100vh - 12.4em);
    width: calc(100vw - 12.4em);
    color: white;
    font-weight: 700;
    z-index: 8;
}

.container {
    background: red;
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: .5em;
}

.center img {
    width: 2em;
}

#click-section {
    display: flex;
    align-items: center;
    gap: 1em
}

.title-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 100%;
}

.slide-title {
    background: rgba(10,10,10,.7);
    padding: .5em;
    border-radius: 1.5em;
}

.slide-content {
    /* background: #111; */
    position: relative;
    flex: 1;
    width: 100%;
}

#tool-tip {
    background: #444;
    position: absolute;
    border-radius: 1.5em;
    color: white;
    display: none;
    z-index: 20;
    padding-left: 1em;
    padding-right: 1em;
}

#page-1-layout {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#people {
    font-size: 2.5em;
}

#page-1-layout > svg {
    max-height: 80%;
    max-width: 80%;
}

#gender {
    min-height: 80%;
    width: 80%;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media only screen and (max-width: 1100px) {
    #page-1-layout {
        grid-template-columns: 1fr;
    }
}

#study-vs-salary {
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.toggle {
    border-radius: .5em;
    padding: .5em;
    background: #223333;
    color: white;
    border: none;
}

.toggle:hover {
    background: #334444;
    cursor: pointer;
}

.toggle.toggle-active {
    background: #3388ff;
}

.toggle.toggle-active:hover {
    background: #3388ff;
    cursor: default;
}

